<conte>
    <ul class="easyui-tree">
        <li>
            <span/>目录</span>
            <ul>
                <li>
                    <span/>用户管理</span>
                    <ul>
                        <li>
                            <span><label ng-click="addPanel('用户查询')">用户查询</label></span>
                        </li>
                        <li>
                            <span>用户注销</span>
                        </li>
                        <li>
                            <span/>用户登录日志</span>
                        </li>
                    </ul>
                </li>
                <li>
                    <span/>设备管理</span>
                    <ul>
                        <li><label ng-click="addPanel('设备查询')">设备查询</label></li>
                        <li>设备库存</li>
                        <li>设备流水</li>
                        <li>设备成本统计</li>
                    </ul>
                </li>
                <li>
                    <span/>系统维护</span>
                    <ul>
                        <li>字典表维护</li>
                        <li>权限分配</li>
                        <li>角色分配</li>
                        <li>系统设置</li>
                    </ul>
                </li>
                <li>
                    <span/>机构管理</span>
                    <ul>
                        <li>机构拓扑图</li>
                        <li>机构权限</li>
                        <li>机构查询</li>
                    </ul>
                </li>
                <li>
                    <span/>信用卡</span>
                    <ul>
                        <li>申请流水</li>
                        <li>团办客户</li>
                    </ul>
                </li>
                <li>
                    <span/>信用卡产品</span>
                    <ul>
                        <li>信用卡查询</li>
                        <li>信用卡新增</li>
                    </ul>
                </li>
                <li>
                    <span/>活动促销</span>
                    <ul>
                        <li>活动查询</li>
                        <li>活动新增</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</conte>