<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>EasyUI-AngularJS</title>
    <!--North背景渐变效果-->
    <link rel="stylesheet" type="text/css" href="lib/jquery-easyui-1.4.3/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="lib/jquery-easyui-1.4.3/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="modules/publicModule/home/home.css">
    <script type="text/javascript" src="lib/jquery-easyui-1.4.3/jquery.min.js"></script>
    <script type="text/javascript" src="lib/jquery-easyui-1.4.3/jquery.easyui.min.js"></script>
    <script src="lib/Highcharts-4.1.8/js/highcharts.js"></script>
    <script src="lib/Highcharts-4.1.8/js/modules/exporting.js"></script>
    <script src="lib/requirejs/require.js" data-main="modules/main"></script>
</head>
<body class="easyui-layout" ng-controller="mainCtrl">

<!--上-->
<div data-options="region:'north',border:false" style="height:60px;padding:10px" class="linear"><b>信用卡后台管理系统</b>
</div>
<!--左边-->
<div data-options="region:'west',split:true,title:'系统菜单'" style="width:250px;:padding10px;">
    <!--<ng-include src="westContentURL"></ng-include>-->
    <!--<iframe src="modules/publicModule/west/westIndex.html"></iframe>-->
    <conte>
        <ul class="easyui-tree">
            <li>
                <span/>目录</span>
                <ul>
                    <li>
                        <span/>用户管理</span>
                        <ul>
                            <li>
                                <span><label ng-click="addPanel('用户查询')">用户查询</label></span>
                            </li>
                            <li>
                                <span>用户注销</span>
                            </li>
                            <li>
                                <span/>用户登录日志</span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span/>设备管理</span>
                        <ul>
                            <li><label ng-click="addPanel('设备查询')">设备查询</label></li>
                            <li>设备库存</li>
                            <li>设备流水</li>
                            <li>设备成本统计</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </conte>
</div>

<!--右边-->
<div data-options="region:'east',split:true,collapsed:true,title:'任务栏'"
     style="width:222px;padding:0px;overflow:hidden ">
    <!--<ng-include src="eastContentURL"></ng-include>-->
    <div class="easyui-calendar" style="width:215px;height:30%;"></div>
    <div class="easyui-accordion" style="width:215px;height:70%;">
        <div title="今日任务" data-options="iconCls:'icon-ok'" style="width:198px;padding:10px;">
            <p><a href="#">您还有3条数据要进行审批</a></p>
        </div>
        <div title="工作指南" data-options="iconCls:'icon-help'" style="padding:10px;">
            <p><a href="#">设备借用流程</a></p>
        </div>
        <div title="聊天室" data-options="iconCls:'icon-search'" style="padding:10px;">
            我提交给你的单你审批完成了吗？
        </div>
    </div>
</div>

<!--下-->
<div data-options="region:'south',border:false" style="height:50px;padding:10px;">
    <ng-include src="southContentURL"></ng-include>
</div>

<!--中-->
<div data-options="region:'center',title:'工作区'">
    <!--<ng-include src="workContent"></ng-include>-->
    <div class="easyui-tabs" data-options="fit:true,border:false,plain:true" id="tabContent">
        <div title="主页"  style="padding:10px">
            <div id="container" style="height: 400px; margin: 0 auto"></div>
        </div>

        <div title="设备管理" style="padding:5px">
            <!--动态加载DataGrid数据-->
            <table id="dg" title="Client Side Pagination" data-options="
				rownumbers:true,
				singleSelect:true,
				autoRowHeight:false,
				pagination:true,
				pageSize:10">
                <thead>
                <tr>
                    <th field="inv" width="180">Inv No</th>
                    <th field="date" width="180">Date</th>
                    <th field="name" width="280">Name</th>
                    <th field="amount" width="180" align="right">Amount</th>
                    <th field="price" width="180" align="right">Price</th>
                    <th field="cost" width="200" align="right">Cost</th>
                    <th field="note" width="110">Note</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
</body>
</html>