.linear {
    width: 100%;
    height: 600px;
    /*FILTER: progid: DXImageTransform . Microsoft . Gradient(gradientType = 0, startColorStr = #b8c4cb, endColorStr = red);*/ /*IE 6 7 8*/
    background: -ms-linear-gradient(top, #fff, #6da1ff); /* IE 10 */
    background: -moz-linear-gradient(top, #b8c4cb, #6da1ff); /*火狐*/

    background: -webkit-linear-gradient(top, #f6f6f8, #6da1ff); /*Safari5.1 Chrome 10+*/
    background: -o-linear-gradient(top, #fff, #6da1ff); /*Opera 11.10+*/
}